apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-metaapp
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/GabrielHM98/cloud-engineering
    targetRevision: master
    path: aks/gitops/argocd-bootstrap
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
