apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-platform-appset
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/GabrielHM98/cloud-engineering.git
    targetRevision: master
    path: aks/gitops/ingress-platform
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true